body {
	background-image: url("../hyungChung/images/tennisCourts.jpg");
}	

h1 {
	text-align: center;
	font-family: 'Acme', sans-serif;
	font-size: 5em;
	color: white;
}

h2 {
	text-align: center;
	font-family: 'Acme', sans-serif;
	font-size: 2em;
	color: white;
	boarder:2px solid red;
}

#picWindow {
	align-content: center;
	width:70%;
	float:right;
	boarder:2px solid red;
}

.navButton {
	float: right; 
	width: 10%;
	boarder:2px solid red;
	margin-top:20%;
}

#imageBox {
	margin:left-auto;
	margin:right-auto;
	width:95%;
	boarder:2px solid red;
	padding-right: 0%;
}

#leftArrow{
	width:100%;
}

#leftArrow:hover {
	width:100%;
	opacity: 0.8;
}




